
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');




body{
  background-image: url(Banner.png);
  color: #ffff;
  font-family: 'Montserrat', sans-serif;

}







.head{
  display: flex;
  justify-content: space-between;
}

.navbar{
  width: 60%;
  margin: 4% 6%;
}

.htxt{
  font-size: 1.2rem;
}

header h1{
  padding-left: 50%;
  padding-top: 12%


}

header ul{
  margin: 0;
  padding: 0;

}

header li{
  list-style: none;
  display: inline;
  padding: 0 0 0 5%;
  float:right;
}

header li a{
  text-decoration: none;
  color: #ecf1fb;

}

header li a:hover{
  color: #ffffff;
}

header a button{
  border-style: none;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

header a button:hover{
  opacity: 0.5;
}

button{
  padding: 6% 30%;
  border-radius: 18px;
}

.mid{
  display:flex;

}
 .mtxt{
   flex:1;
   margin-left: 10%;
   font-size: 2rem;
   font-weight: bold;
   margin-right: 1400px;
   margin-top: 28px;
 }
 .toggle{
   display: none;
 }

 .hidden{
   display: none;

 }

/* responsive-part */

@media (max-device-width: 420px) {
  body{
    background-image: none;
    background-color: #afb8c8;
  }
  .mtxt{
    margin-right: 10%;
    font-size: 4rem;
    margin-top: 20%;
    text-align: center;
  }
  .htxt{
    font-size: 2rem;
  }
  .navbar{
    display: none;
  }
  .toggle{
    display: inline-block;
    border: none;

  }

  button{
    padding:  12px 50px;
    border-radius: 18px;
    margin: 65px 120px 0 0;
    height: 100px;
  }

  button a{
    color: #7F8AC5;
  }

  button:hover{
    opacity: 0.7;
  }

  .nav2{
    transition: 1s;
  }

  .nav2 nav{
    background-color: #d3dff2 ;
    padding: 20px 0 20px 0;


  }

  .nav2 ul{
    list-style: none;

  }

  .nav2 li{
    display: inline;
    padding: 0 33px 0 33px;

  }

  .nav2 li a{
    text-decoration: none;
    color: #7F8AC5 ;
    font-size: 25px;

  }

  .nav2 li a:hover{
    color: #ffffff;
  }




}
